.filter__page-btn {
    margin-right: 457px;
    background-color: #fff;
    border: none;
}

.filter__page-item {
    margin-right: 67px;
}

.filter__page-first {
    margin-right: 64px;
}

.filter__number-page:hover {
    cursor: pointer;
    color: #AAAAAA;
    font-size: 24px;
    transition: font-size 0.5s;
}



.filter__page-button {
    margin-left: 380px;
    background-color: #fff;
    border: none;
}

// .filter__page-button:hover {
    // background-image: url('/source/img/arrow-right.svg');
// }