.contact {
    position: absolute;
    top: 20%;
    left: 17%;
    background-color: #ffe4c4;
    width: 680px;
    height: 533px;
    border: 2.5px solid var(--Black, #070707);
}


// .contact__form-wrapper {

//     position: absolute;
//     text-align: center;
//     top: 25%;
//     left: 25%;
//     flex-shrink: 0;


// }
