.p {
    display: flex;
    @include Gilroy;
    font-size: 14px;
    font-weight: 500;
    font-feature-settings: 'clig' off, 'liga' off;
    margin-bottom: 6px;
    &__text {
        color: var(--Black, #070707);
    }
    &__star {
        color: var(--Pomegranate, #EB3617);
    }
}

.message {
    display: none;
    position: relative;
    top: 14%;
    margin-left: 14.5%;
    width: 1440px;
    height: 768px;
    flex-shrink: 0;
    padding: 113px, 393px, 115px, 367px;
    background: var(--wild-sand-opacity, rgba(246, 246, 246, 0.99));
    z-index: 5;
    &__open {
        display: block;
    }
    &__form {
        margin: 113px auto;
        width: 680px;
        height: 540px;
        border: 2.5px solid var(--Black, #070707);
        background: var(--White, #FFF);
        padding: 40px;
        &-one{
            display: flex;
            margin-bottom: 20px;
        }
    }
    &__overflow {
        position: fixed;
        top: 90px;
        left: 300px;
        width: 1440px;
        height: 768px;
        flex-shrink: 0;
        background: var(--wild-sand-opacity, rgba(246, 246, 246, 0.99));
        z-index: 2;
    }

    &__label-one {
        margin-right: 20px;
        :hover {
            cursor: pointer;
        } 
    }
    &__one-input {
        position: relative;
        width: 290px;
        height: 50px;
        flex-shrink: 0;
        border: 2.5px solid var(--Mercury, #E5E5E5);
        :hover {
            cursor: pointer;
        }
    }
    &__area {
        border: 2.5px solid var(--Mercury, #E5E5E5);
    }

    &__fieldset {
        display: flex;
        border: none;
        margin-top: 20px;
        padding: 0;
        :hover {
            cursor: pointer;
        } 
        &-input {
            width: 19px;
            height: 19px;
            flex-shrink: 0;
        }
        &-text {
            @include Gilroy;
            margin-left: 15px;
            color: var(--Mercury, #E5E5E5);
            font-feature-settings: 'clig' off, 'liga' off;
            font-size: 14px;
            font-weight: 500;

        }
    }
    &__sign-btn {
        @include Gilroy;
        color: var(--Mercury, #E5E5E5);
        background-color: #FFF;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        display: inline-flex;
        padding: 10px 19px;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        border: 2.5px solid var(--Mercury, #E5E5E5);
        margin-top: 20px;
        :hover {
            cursor: pointer;
        }
    }
    &__close {
        position: absolute;
        top: 118px;
        right: 344px;
        width: 25.5px;
        height: 25.5px;
        border: none;
        cursor: pointer;
        &-img {
            color: #828282;
            margin: -30px;
            font-size: 45px;
            :hover {
                cursor: pointer;
            }
            
        }
    }
}
