.title {
    font-size: 47px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 40px;
    color: var(--Black, #070707);
    text-align: start;
}

.filter {
    display: flex;
    margin-bottom: 35px;
    color: var(--Black, #070707);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-weight: 500;
    &__title {
        margin-bottom: 10px;
    }
    &__tags {
        display: block;
        position: relative;
        margin-right: 77px;
        width: 109px;
        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            row-gap: 5px;
            column-gap: 3px;
            // width: 115px;
            flex-shrink: 0;
            border: 0;
            padding: 0;
        }        
    }
}

.checkbox {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 22.5px;
    /* user-select используется, чтобы пользователь не мог выделить область. */
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkbox__mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22.5px;
    width: 22.5px;
    border-width: 3px;
    border-style: solid;
    /* border-color мы будем давать инлайновым стилем через JS, а остальные свойства border подготавливаем заранее. */
    border-radius: 6px;
}

/* Элемент, когда чекбокс нажат */
.checkbox__mark:after {
    content: "";
    position: absolute;
    display: none;
  }

/* Отображение при нажатии. */
.checkbox__input:checked ~ .checkbox__mark:after {
    display: block;
}

.checkbox .checkbox__mark:after {
    left: 9px;
    top: 0;
    width: 7px;
    height: 17px;
    border-style: solid;
    border-color: inherit;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.filter__views {
    display: block;
    position: relative;
    border: 0;
}

.option {
    display: block;
    margin-bottom: 12px;
    margin-right: 70px;
  }
  .check {
    padding-left: 0px;    
  }
  .check__radio {
    position: absolute;
    appearance:none;
  }
  .check__views {
    position: absolute;
    margin-left: -35px;
    width: 22.5px;
    height: 22.5px;
    border-radius: 30px;
    border: 0px solid #2f35df;
  }

//   *checked
  .check__radio:checked + .check__views {
    background-image: url(../img/onradio.svg);
  }
  .check__radio:focus + .check__views {
    background-image: url(../img/radio.svg);
  }
  .check__radio:checked:focus + .check__views {
    background-image: url(../img/radio.svg);
  }

.filter__comments {
    display: block;
    position: relative;
    margin-right: 137px;
    &-item {
        margin-top: 10px;
        list-style-type: none;
    }
    &-input {
        width: 22.5px;
        height: 22.5px;
    }
}

.filter__show {
    display: block;
    position: relative;
    margin-right: 76px;
}

.filter__sort {
    display: block;
    position: relative;
    margin-right: 48px;
}

