<li class="breadcrumb__item">
    <a href="#">
        <svg class="breadcrumb__item-svg" xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42" fill="none">
        <rect x="40.75" y="40.75" width="39.5" height="39.5" rx="19.75" transform="rotate(-180 40.75 40.75)" stroke="#070707" stroke-width="2.5"/>
        <rect x="24.5791" y="32.6992" width="16.5512" height="3" rx="1.5" transform="rotate(-135 24.5791 32.6992)" fill="#070707"/>
        <rect x="26.7002" y="11.4199" width="16.5512" height="3" rx="1.5" transform="rotate(135 26.7002 11.4199)" fill="#070707"/>
        </svg>
    </a>
</li>
<li class="breadcrumb__item">
    <a href="#">
        <svg class="breadcrumb__item-svg" xmlns="http://www.w3.org/2000/svg" width="61" height="10" viewBox="0 0 61 10" fill="none">
        <circle cx="22" cy="5.00006" r="5" fill="#E5E5E5"/>
        <circle cx="39" cy="5.00006" r="5" fill="#E5E5E5"/>
        <circle cx="56" cy="5.00006" r="5" fill="#E5E5E5"/>
        <circle cx="5" cy="5.00006" r="5" fill="#070707"/>
      </svg>
    </a>
</li>
<li class="breadcrumb__item">
    <a href="#">
        <svg class="breadcrumb__item-svg" xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42" fill="none">
            <rect x="1.25" y="1.25006" width="39.5" height="39.5" rx="19.75" stroke="#070707" stroke-width="2.5"/>
            <rect x="17.4209" y="9.30084" width="16.5512" height="3" rx="1.5" transform="rotate(45 17.4209 9.30084)" fill="#070707"/>
            <rect x="15.2998" y="30.5801" width="16.5512" height="3" rx="1.5" transform="rotate(-45 15.2998 30.5801)" fill="#070707"/>
        </svg>
    </a>
</li>
