<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Document</title>
</head>

  
</body>
  </html>
    <footer class="footer">
      <h2 class="footer__title">Contacts</h2>
      <div class="footer__message">
        <p class="footer__message-text">Want to know more or just chat? You are welcome!</p>
        <button class="footer__message-btn">
            <a class="footer__message-send" href="#">Send message</a>
        </button>
        <div class="footer__messenger">
          <button class="footer__messenger-btn">
            <a class="footer__messenger-title" href="#">Instagram</a>
          </button>
          <button class="footer__messenger-btn">
            <a class="footer__messenger-title" href="#">Vk</a>
          </button>
          <button class="footer__messenger-btn">
            <a class="footer__messenger-title" href="#">Telegram</a>
          </button>
          <button class="footer__messenger-btn">
            <a class="footer__messenger-title" href="#">Mail</a>
          </button>
          <button class="footer__messenger-btn">
            <a class="footer__messenger-title" href="#">GitHub</a>
          </button>
          <button class="footer__messenger-btn">
            <a class="footer__messenger-title" href="#">Phone</a>
          </button>
        </div>
        <p class="footer__author">Design by DL Academy</p>
        <p class="footer__author">Program code from Dmitriy</p>
      </div>
    </footer>
  </main>

  <script src="js/app.js" defer></script>

</html>
</body>
