<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Document</title>
</head>

  
</body>
  </html>
    <footer class="footer">
      <div>
        <h2>Contacts</h2>
        <p>Want to know more or just chat? You are welcome!</p>
        <button>
            <a href="#">Send message</a>
        </button>
        <div>
            <button>
                <a href="#">Instagram</a>
            </button>
            <button>
                <a href="#">Vk</a>
            </button>
            <button>
                <a href="#">Telegram</a>
            </button>
            <button>
                <a href="#">Mail</a>
            </button>
            <button>
                <a href="#">GitHub</a>
            </button>
            <button>
                <a href="#">Phone</a>
            </button>
        </div>
        <p>Design by DL Academy</p>
        <p>Program code from Dmitriy</p>
      </div>
    </footer>

  </main>
  @@include('blocks/footer.html')
  <script src="js/app.js" defer></script>

</html>
</body>
