<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My profil</title>
    <style>
        ul { list-style-type: none; }
    </style>
</head>
<body>
    <!-- @@include('blocks/header_profile.html') -->
    <main>
        <p class="container text__profil">My profil</p>
        <section class="container profil" >
            <section class="profil__foto" >
                <img class="profil__foto-img" src="#" alt="">
            </section>
            <section class="data" >
                <ul class="data__profil">
                    <li class="data__profil" >Name:</li>
                    <li class="data__profilame" >Surname:</li>
                    <li class="data__profill" >Email:</li>
                    <li class="data__profilword" >Password:</li>
                    <li class="data__profiltion" >Location:</li>
                    <li class="data__profil">Age:</li>    
                </ul>
                <button class="profil__btn-password">
                    <p>Change password</p>
                </button>
                <button class="profil__btn-data" >
                    <p>Change other data</p>
                </button>
                <button class="profil__btn-delete" >
                    <p>Delete account</p>
                </button>
            </section>
        </section>
    </main>
</body>
</html>