<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup Sign In</title>
</head>
<body>
    <div class="sign">
        <div class="sign__overflow">
            <form class="sign__form" action="#" method="post">                    
                <div class="sign__label-one">
                    <label class="sign__one" for="Email">
                        <div class="p">
                            <p class="p__text">Email</p>
                            <p class="p__star">*</p>
                        </div>
                        <input class="sign__one-input" type="email" id="Email">
                    </label>
                </div>
                <div class="sign__label-one">
                    <label class="sign__one" for="Password">
                        <div class="p">
                            <p class="p__text">Password</p>
                            <p class="p__star">*</p>
                        </div>
                        <input class="sign__one-input" type="password" id="Password">
                    </label>
                </div>
                <button class="sign__log-btn" >Log in</button>
            </form>
            <button class="sign__close" type="button" >
                <p class="sign__close-img" >x</p>            
            </button>
        </div>
    </div>
</body>
</html>