<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup</title>
</head>
<body>
    <section class="contact"> 
        <form class="contact__form" action="#" method="post">
            <div class="contact__form-wrapper">
                <div class="contact__label-wrapper">
                    <label class="contact__label" for="Email">
                        <p>Email</p>
                        <input class="contact__input" type="email" id="Email" placeholder="Ivanov@mail.ru">
                    </label>
                </div>
            </div>

            <div class="contact__two-input">
                <div class="contact__label-wrapper">
                    <label class="contact__label" for="Name">  
                        <p>Name</p>
                        <input class="contact__input" type="text" id="Name" placeholder="Ivan Ivanov">
                    </label>
                </div>
                <div class="contact__label-wrapper">
                    <label class="contact__label" for="Sumame">
                        <p>Sumame </p>
                        <input class="contact__input" type="text" id="Sumame" >
                    </label>
                </div>
            </div>



                <div class="contact__two-input">
                    <div class="contact__label-wrapper">
                        <label class="contact__label" for="Password">Password
                        <input class="contact__input" type="text" id="Password" ></label>
                    </div>
                    <div class="contact__label-wrapper">
                        <label class="contact__label" for="Repeat">Repeat password
                        <input class="contact__input" type="text" id="Repeat" ></label>
                    </div>
                </div>

                <div class="contact__two-input">
                    <div class="contact__label-wrapper">
                        <label class="contact__label" for="Location">Location
                        <input class="contact__input" type="text" id="Location" ></label>
                    </div>
                    <div class="contact__label-wrapper">
                        <label class="contact__label" for="Age">Age</label>
                        <input class="contact__input" type="text" id="Age" >
                    </div>
                </div>

            </div>
        </form>
    </section>
</body>
</html>