@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";
@import "_fonts";

/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_blocks/footer";
@import "_blocks/header";
@import "_blocks/breadcrumb__item.scss";

.portfolio {
  @include Gilroy;
  display: flex;
  text-align: start;
  margin-top: 40px;
  &__name {
    color: #070707;
    font-size: 47px;
    font-weight: 400;
    margin: 0 40px 36px 0;
    max-width: 180px;
    &-year {
      color: #070707;
      font-size: 18px;
      font-weight: 400;
      margin-top: 63px;
      max-width: 226px;

    }
  }
}

.slider {
  text-align: center;
  margin-bottom: 30px;
  &__foto-img {
    width: 1000px;
    height: 465px;
  }
}

.breadcrumb {
  display: flex;
  margin-top: 26px;
  align-items: center;
  column-gap: 428px;
  margin-bottom: 114px;
}

.dialogue {
  @include Gilroy;
  display: block;
  color: var(--Black, #070707);
  text-align: center;
  margin-bottom: 62px;
  &__hairpins {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 51px;
    &-one {
      position: relative;
      margin-left: -100px;
      margin-bottom: 13px;
    }
    &-two {
      position: relative;
      margin-left: 100px;
      margin-bottom: 11px;
    }
    &-text {
      position: absolute;
      width: 448px;
      height: 85px;
      text-align: start;
      margin-left: -465px;
      margin-top: 17px;
    }
  }
  &__dialogue__svg {
    position: relative;
    stroke-width: 2.5px;
  }
}
.skills {
  margin-top: 62px;
//   &__programs {
//     @include Gilrow;
//     text-align: center;
//   }
}