{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "indentation": 2,
    "value-keyword-case": [
      "lower", {
        "ignoreProperties": ["/^\\$/"]
      }
    ]
  },
  "ignoreFiles": [
    "source/scss/vendor/*.{css,scss,sass}"
  ]
}
